body {
  box-sizing: border-box;
  width: 1440px;
  height: 2795px;

  margin: 0;
  padding: 0;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  color: #000000;
  width: 1440px;

  background-color: #ffffff;
}

* {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  /* font-weight: normal; */
}


a {
  text-decoration: none;
  color: inherit;
}

th {
  font-weight: normal;
}

 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} 
}
a {
  text-decoration: none;
}
/*Шапка*/
.main-header-logo:hover {
  opacity: 0.6;
}
.main-header-logo:active {
  opacity: 0.3;
}
.user-navigation:hover {
  opacity: 0.6;
}
.user-navigation:active {
  opacity: 0.3;
}
.compare:hover {
  opacity: 0.6;
}
.compare:active {
  opacity: 0.3;
}
.cart:hover {
  opacity: 0.6;
}
.cart:active {
  opacity: 0.3;
}
li .main-navigation-link:hover {
  opacity: 0.6;
}
li .main-navigation-link:active {
  opacity: 0.3;
}
#search {
  color: #000000;
  background-color: #f7e296
}
.main-header {
  background-image: linear-gradient(transparent 40px, #f7e296 40px);
  width: 1160px;
  height: 350px;
  margin-top: 40px;
  margin-left: 140px;

}
.main-header-logo {
  margin-bottom: 45px;
  margin-left: 60px;
}
.main-container {
  display: flex;
  height: 17px;
}  
.container-one {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 52px;
}
.main-search {
  margin-right: 70px;
}
.login {
  margin-right: 10px;
  margin-left: 70px;
}
.main-navigation {
  display: inline;

}
.main-navigation-list {
  margin-top: 50px;
  margin-left: 25px;
}
/* Товар */

.product-slider {
  display: flex;
  flex-basis: 1015px;
}
.item-description {
  flex-direction: row;
  padding-left: 125px;
  margin-top: -80px;
}
.product-slogan {
  padding-top: -85px;
}
.products-text {
  width: 557px;
  word-break: normal;
  padding-bottom: 29px;
  margin-top: -20px;
}
.picture {
  float: left;
  margin-top: -100px;
  margin-left: 220px;
}
.popular-products-buttons {
  display: flex;
  list-style: none;
  margin-top: -175px;
  margin-left: 145px;
}
.learn-more-button {
  margin-left: 40px;
}
.table {
  border-spacing: 80px 10px;
  margin-top: 60px;
  margin-left: -83px;
}
/* Популярные */
.popular-items {
  margin-left: 140px;
  width: 1160px;
  height: auto;
}
.product-categories {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}
.product-categories li:nth-child(1) {
  width: 150px;
}
.product-categories li:nth-child(2) {
  width: 100px;
}
.user-navigation a {
  color: #000000;
}
.main-menu-list,
.main-navigation-list {
  list-style: none;
}
.main-menu-list a,
.main-navigation-list a {
  color: #000000;
}
.main-navigation {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: normal;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.main-image {
  list-style: none;
}
.product-slogan {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: normal;
  font-weight: 700;
  color: #000000;  
}
.products-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;  
}
.learn-more-button a {
  color: #000000;
}
.learn-more-button {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    background: linear-gradient(
      transparent 40%,
      #f0c52e 40%,
      #f0c52e 60%,
      transparent 60%
      );
}
.learn-more-button:hover,
.learn-more-button:active {
  background: #f0c52e;
  color: #000000;
}
.learn-more-button:active {
  color: rgba(0, 0, 0, 0.3);
}
.table-cell {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #000000;
  text-align: left; 
}
.table-cell-title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-align: left;  
}
.product-categories {
  list-style: none;
}
.product-categories a {
  color: #000000;
}
.category-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  color: #000000;
}
/* Услуги */
.slider {
  display: flex;
  background-color: #e5e5e5;
  width: 1440px;
  height: 288px;
  margin-top: 166px;
}
.list-of-services {
  padding-bottom: 60px;
  margin-left: 140px;
  margin-top: -25px;
}
.services-heading {
  margin-left: 250px;
  margin-top: -30px;
}
.services-description {
  width: 430px;
  height: 120px;
  padding-top: 40px;
  margin-left: -215px;
}
.icon {
  margin-left: 120px;
  margin-top: -15px;
}
.services-button {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: 0;
    background: linear-gradient(
      transparent 40%,
      #f0c52e 40%,
      #f0c52e 60%,
      transparent 60%
      );  
}
.services-button:hover,
.services-button:active {
  background: #f0c52e;
  color: #000000;
}
.services-button:active {
  color: rgba(0, 0, 0, 0.3);
}
.list-of-services {
  list-style: none;
}
h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 700;
  text-transform: none;
  color: #000000; 
}
p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  text-transform: none;
  color: #000000;  
}
/* Бренды */
.site-manufacturers {
  width: 1440px;
  height: 288px;
}
ul.brands-list {
  margin: 0px;
}
ul.brands-list li {
  display: inline;
  justify-content: space-between
}
.image {
  margin-top: 100px;
  margin-left: 50px;
}
.brands-link {
  margin-top: 140px;
}
.brands-list {
  list-style: none;
}
/* Инфо */
.info {
  display: flex;
  width: 1440px;
  height: 660px;
}
.about-us {
  margin-left: 135px;
}
.company-description {
  width: 430px;
  height: 55px;
  margin-top: 60px;
}
.article {
  width: 475px;
  height: 60px;
  margin-top: 45px;
}
.delivery-list {
  margin-top: 90px;
}
.delivery-list {
  font-family: "Gilroy", "Arial", sans-serif;
  list-style: none;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
}
.about-link {
  padding-top: 50px;
}
.contact-company {
  margin-left: 140px;
}
.contact-company-description {
  width: 515px;
  height: 50px;
  margin-left: 140px;
}
.contact-company-description {
  margin-top: 60px;
}
.map-link {
  margin-top: 50px;
  margin-left: 140px;
}
.contact-us-button {
  margin-left: 140px;
}
.more-about-us-button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 0;
  background: linear-gradient(
    transparent 40%,
    #f0c52e 40%,
    #f0c52e 60%,
    transparent 60%
    );
}
.more-about-us-button:hover,
.more-about-us-button:active {
  background: #f0c52e;
  color: #000000;
}
.more-about-us-button:active {
  color: rgba(0, 0, 0, 0.3);
}
.more-about-us-button a{
  color: #000000;
}
.contact-us-button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 0;
  background: linear-gradient(
    transparent 40%,
    #f0c52e 40%,
    #f0c52e 60%,
    transparent 60%
    );
}
.contact-us-button:hover,
.contact-us-button:active {
  background: #f0c52e;
  color: #000000;
}
.contact-us-button:active {
  color: rgba(0, 0, 0, 0.3);
}
.contact-us-button a{
  color: #000000;
}
/* Шапка */
.main-footer {
  background-color: #464646;
  width: 1440px;
  height: 320px;
}
.footer-logo {
  margin-left: 140px;
  margin-top: 65px;
}
.footer-location {
  margin-top: 50px;
  margin-left: 140px;
}
.site-navigation {
  list-style: none;
}
.footer-services {
  display: inline;
}
.footer-services {
  margin-left: 40px;
}
.user-nav {
  list-style: none;
}
.social-item {
  display: inline;
}
.user-nav {
  display: inline;
}
.footer-nav {
  margin-left: 1000px;
  margin-top: -180px;
  color: #ffffff;
}
.site-navigation {
  margin-left: 450px;
  color: #ffffff;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  margin-top: -35px;
}
.social-list {
  margin-left: 560px;
}
.tel-link {
  margin-top: 50px;
}
.logo-link {
  margin-left: 1300px;
  margin-top: 50px;
}
li .brands-link {
    filter: grayscale(1,0);
}
li .brands-link:hover {
      filter: grayscale(0);
}
