body {
  box-sizing: border-box;
  width: 1440px;
  height: 2795px;

  margin: 0;
  padding: 0;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  color: #000000;
  width: 1440px;

  background-color: #ffffff;
}

* {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  /* font-weight: normal; */
}


a {
  text-decoration: none;
  color: inherit;
}

th {
  font-weight: normal;
}

 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} 
}
a {
  text-decoration: none;
}
/*Шапка*/
.main-header-logo:hover {
  opacity: 0.6;
}
.main-header-logo:active {
  opacity: 0.3;
}
.user-navigation:hover {
  opacity: 0.6;
}
.user-navigation:active {
  opacity: 0.3;
}
.compare:hover {
  opacity: 0.6;
}
.compare:active {
  opacity: 0.3;
}
.cart:hover {
  opacity: 0.6;
}
.cart:active {
  opacity: 0.3;
}
li .main-navigation-link:hover {
  opacity: 0.6;
}
li .main-navigation-link:active {
  opacity: 0.3;
}
#search {
  color: #000000;
  background-color: #f7e296
}
.main-header {
  background-image: linear-gradient(transparent 40px, #f7e296 40px);
  width: 1160px;
  height: 350px;
  margin-top: 40px;
  margin-left: 140px;

}
.main-header-logo {
  margin-bottom: 45px;
  margin-left: 60px;
}
.main-container {
  display: flex;
  height: 17px;
}  
.container-1 {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 52px;
}
.main-search {
  margin-right: 70px;
}
.login {
  margin-right: 10px;
  margin-left: 70px;
}
.main-navigation {
  display: inline;

}
.main-navigation-list {
  margin-top: 50px;
  margin-left: 25px;
}
/* Товар */

.product-slider {
  width: 1160px;
}
.container-2 {
  flex-direction: row;
  justify-content: space-around;
}
.product-slogan {
  align-self: baseline;
}
.products-text {
  align-self: baseline;
}
.picture {
  float: left;
  margin-left: 200px;
}
.user-navigation a {
  color: #000000;
}
.main-menu-list,
.main-navigation-list {
  list-style: none;
}
.main-menu-list a,
.main-navigation-list a {
  color: #000000;
}
.main-navigation {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: normal;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.main-image {
  list-style: none;
}
.product-slogan {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: normal;
  font-weight: 700;
  color: #000000;  
}
.products-text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;  
}
.learn-more-button a {
  color: #000000;
}
.learn-more-button {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    background: linear-gradient(
      transparent 40%,
      #f0c52e 40%,
      #f0c52e 60%,
      transparent 60%
      );
}
.learn-more-button:hover,
.learn-more-button:active {
  background: #f0c52e;
  color: #000000;
}
.learn-more-button:active {
  color: rgba(0, 0, 0, 0.3);
}
.table-cell {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: #000000;
  text-align: left; 
}
.table-cell-title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  text-align: left;  
}
.product-categories {
  list-style: none;
}
.product-categories a {
  color: #000000;
}
.category-link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  color: #000000;
}
.slider {
  background-color: #e5e5e5;
}
.services-button {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: 0;
    background: linear-gradient(
      transparent 40%,
      #f0c52e 40%,
      #f0c52e 60%,
      transparent 60%
      );  
}
.services-button:hover,
.services-button:active {
  background: #f0c52e;
  color: #000000;
}
.services-button:active {
  color: rgba(0, 0, 0, 0.3);
}
.list-of-services {
  list-style: none;
}
h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 700;
  text-transform: none;
  color: #000000; 
}
p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  text-transform: none;
  color: #000000;  
}
.brands-list {
  list-style: none;
}
.info {
  color: #000000;
  background-color: #ffffff;
  background-position: 0 0;
}
.delivery-list {
  font-family: "Gilroy", "Arial", sans-serif;
  list-style: none;
  font-size: 16px;
  line-height: 40px;
  font-weight: 700;
  color: #000000;
}
.more-about-us-button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 0;
  background: linear-gradient(
    transparent 40%,
    #f0c52e 40%,
    #f0c52e 60%,
    transparent 60%
    );
}
.more-about-us-button:hover,
.more-about-us-button:active {
  background: #f0c52e;
  color: #000000;
}
.more-about-us-button:active {
  color: rgba(0, 0, 0, 0.3);
}
.more-about-us-button a{
  color: #000000;
}
.contact-us-button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 0;
  background: linear-gradient(
    transparent 40%,
    #f0c52e 40%,
    #f0c52e 60%,
    transparent 60%
    );
}
.contact-us-button:hover,
.contact-us-button:active {
  background: #f0c52e;
  color: #000000;
}
.contact-us-button:active {
  color: rgba(0, 0, 0, 0.3);
}
.contact-us-button a{
  color: #000000;
}
.main-footer {
  background-color: #464646;
  opacity: 1.0;
}
li .brands-link {
      filter: grayscale(1.0);
}
li .brands-link:hover {
      filter: grayscale(0);
}
